<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="recv.host" value="192.168.137.131"/>
    <add key="recv.user" value="liuyi"/>
    <add key="recv.pwd" value="123456"/>
    <add key="recv.noack" value="false"/>
    <add key="pub.2.keys" value="black,red,blue"/>
    <add key="pub.3.topicpatterns" value="Add.*,*.Inc,Padding.#,*.Counting.*"/>
  </appSettings>
</configuration>